.socialauth_buttons {
    margin-left: 5px;
    margin-top: -4px;
    cursor: pointer;
    float: left;
    margin-bottom: 5px;
}

.socialauth_container {
    display: inline-block;
    width: 100%;
}
