<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Barwenock\SocialAuth\Api\Data\FacebookCustomerInterface"
                type="\Barwenock\SocialAuth\Model\FacebookCustomer"/>
    <preference for="\Barwenock\SocialAuth\Api\FacebookCustomerRepositoryInterface"
                type="\Barwenock\SocialAuth\Model\FacebookCustomerRepository"/>
    <preference for="\Barwenock\SocialAuth\Api\Data\LoginTypeInterface"
                type="\Barwenock\SocialAuth\Model\LoginType"/>
    <preference for="\Barwenock\SocialAuth\Api\LoginTypeRepositoryInterface"
                type="\Barwenock\SocialAuth\Model\LoginTypeRepository"/>


</config>
