<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Barwenock\SocialAuth\Api\Data\LoginTypeInterface"
                type="\Barwenock\SocialAuth\Model\LoginType"/>
    <preference for="\Barwenock\SocialAuth\Api\LoginTypeRepositoryInterface"
                type="\Barwenock\SocialAuth\Model\LoginTypeRepository"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting">
        <plugin name="customer_grid_collection" type="\Barwenock\SocialAuth\Model\Plugin\ResourceModel\Customer\Grid"/>
    </type>
</config>
